<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/eagle.css}">
    <title>Eagle</title>
</head>
<body>

<div class="eagle-cotnainer">
    <div class="sky">
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
    </div>
    <div class="item-1">
    <img class="eagle-picture1" src="https://img.freepik.com/free-photo/majestic-bald-eagle-spreads-wings-flight-generated-by-ai_188544-43385.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
        <p>An eagle is a powerful bird of prey with sharp talons and keen vision, known for its majestic flight and hunting abilities. Found in many parts of the world, eagles are often symbols of strength and freedom.</p>
    </div>

    <div class="item-2">
        <img class="eagle-picture2" src="https://img.freepik.com/free-photo/majestic-bird-prey-perching-branch-staring-intensely-generated-by-artificial-intelligence_25030-66661.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
        <ul>
            <li><strong>Weight:</strong>
                <ul>
                    <li>Varies by species: 3 to 6.3 kg (6.6 to 13.9 lbs)</li>
                </ul>
            </li>
            <li><strong>Height:</strong>
                <ul>
                    <li>70 to 102 cm (2.3 to 3.3 feet)</li>
                </ul>
            </li>
            <li><strong>Age:</strong>
                <ul>
                    <li>In the wild: 15 to 20 years</li>
                    <li>In captivity: Up to 30 years</li>
                </ul>
            </li>
            <li><strong>Flying Speed:</strong>
                <ul>
                    <li>Normal flight: 50 to 65 km/h (30 to 40 mph)</li>
                    <li>Diving speed: Up to 160 km/h (100 mph)</li>
                </ul>
            </li>
        </ul>

    </div>
    <a class="return-button" th:href="@{/return}">Return</a>
</div>

</body>
</html>