<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/gorilla.css}">
    <title>Gorilla</title>
</head>
<body>
<div class="gorilla-container">
    <div class="item-1">
        <img src="https://img.freepik.com/free-photo/close-up-beautiful-gorilla-wild_23-2151641250.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
        <p>The gorilla is a large and powerful primate native to central Africa, known for its strength and social structure. They live in groups led by a dominant silverback and primarily feed on vegetation.</p>
    </div>
    <div class="item-2">
        <img src="https://img.freepik.com/free-photo/close-up-beautiful-gorilla-wild_23-2151641278.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
        <ul>
            <li><strong>Weight:</strong>
                <ul>
                    <li>Adult males (Silverbacks): 136 to 195 kg (300 to 430 lbs)</li>
                    <li>Adult females: 68 to 113 kg (150 to 250 lbs)</li>
                </ul>
            </li>
            <li><strong>Age:</strong>
                <ul>
                    <li>In the wild: 35 to 40 years</li>
                    <li>In captivity: Up to 50 years</li>
                </ul>
            </li>
            <li><strong>Height:</strong>
                <ul>
                    <li>Adult males: 1.4 to 1.8 meters (4.6 to 5.9 feet) when standing upright</li>
                    <li>Adult females: 1.25 to 1.5 meters (4.1 to 4.9 feet)</li>
                </ul>
            </li>
            <li><strong>Bench Press Strength:</strong>
                <ul>
                    <li>Estimated to be 1,800 to 2,000 lbs (816 to 907 kg)</li>
                </ul>
            </li>
        </ul>
    </div>
    <a class="return-button" th:href="@{/return}">Return</a>
</div>
</body>
</html>