<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/icebear.css}">
    <title>Icebear</title>
</head>
<body>
<div class="icebear-container">
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="item-1">
        <img src="https://files.oaiusercontent.com/file-aRqm6TQ7YGQS9xWs7SQbfccZ?se=2024-10-21T11%3A43%3A17Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D9caef33d-4209-4477-bc6a-5fe9bd2ba3bf.webp&sig=GqNYHgHkkD5PEB080QYkTU/L00yvyb5ZeEBUtzrZks8%3D">
        <p>The ice bear, or polar bear, is a large predator native to the Arctic, with thick white fur and strong swimming abilities. It primarily hunts seals and is highly adapted to life on the sea ice.</p>
    </div>

    <div class="item-2">
        <img src="https://files.oaiusercontent.com/file-b9E1QNF03f6wmDjH5n58BJga?se=2024-10-21T11%3A45%3A16Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dca6c3068-16e4-4b0b-98a9-791a8bcca894.webp&sig=Bzh9/WPbwrgTragpi6M1XXR4o69NREsr8Wk2XaxQYTw%3D">
        <ul>
            <li><strong>Weight:</strong>
                <ul>
                    <li>Adult males: 350 to 700 kg (770 to 1,540 lbs)</li>
                    <li>Adult females: 150 to 250 kg (330 to 550 lbs)</li>
                </ul>
            </li>
            <li><strong>Age:</strong>
                <ul>
                    <li>In the wild: 15 to 18 years</li>
                    <li>In captivity: Up to 30 years</li>
                </ul>
            </li>
            <li><strong>Height:</strong>
                <ul>
                    <li>Standing on all fours: 1 to 1.6 meters (3.3 to 5.

    </div>
</div>
</body>
</html>