<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/icebear.css}">
    <title>Icebear</title>
</head>
<body>
<div class="icebear-container">
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="item-1">
        <img src="https://img.freepik.com/free-photo/selective-focus-shot-polar-bears_181624-30901.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
        <p>The ice bear, or polar bear, is a large predator native to the Arctic, with thick white fur and strong swimming abilities. It primarily hunts seals and is highly adapted to life on the sea ice.</p>
    </div>

    <div class="item-2">
        <img src="https://img.freepik.com/free-photo/photorealistic-view-wild-bear-its-natural-environment_23-2151427265.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
        <ul>
            <li><strong>Weight:</strong>
                <ul>
                    <li>Adult males: 350 to 700 kg (770 to 1,540 lbs)</li>
                    <li>Adult females: 150 to 250 kg (330 to 550 lbs)</li>
                </ul>
            </li>
            <li><strong>Age:</strong>
                <ul>
                    <li>In the wild: 15 to 18 years</li>
                    <li>In captivity: Up to 30 years</li>
                </ul>
            </li>
            <li><strong>Height:</strong>
                <ul>
                    <li>Standing on all fours: 1 to 1.6 meters (3.3 to 5.

    </div>
    <a class="return-button" th:href="@{/return}">Return</a>
</div>
</body>
</html>