<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/lion.css}">
    <title>Lion</title>
</head>
<body>
<div class="lion-container">
    <div class="item-1">
    <img class="lion-picture1" src="https://files.oaiusercontent.com/file-RS355r3d4UbBnyM1AZqg3Nry?se=2024-10-21T11%3A02%3A46Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D3b5c2a92-8e29-427d-87ce-1975db0cb3a2.webp&sig=/C9zYWAZ3KezeGgM9HPbJo5Twg9mK79HE7GLv6oGCwQ%3D">
    <div class="lion-description">
    <p>A lion is a powerful, majestic big cat known for its muscular build, golden coat, and iconic mane. As apex predators, they live in social groups called prides and are native to the African savannah.</p>
    </div>
    </div>

    <div class="item-2">
        <img class="lion-picture2" src="https://files.oaiusercontent.com/file-dfUcoJdL69hVIM6tc6qjMXsy?se=2024-10-21T11%3A13%3A21Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D7f3720b6-4bdb-4c51-92cd-6b36cd34e67e.webp&sig=R96MQDW93XDdV3UbM7KSNNzzXo8VLcpq50DvfE9uGKs%3D">
        <ul>
            <li><strong>Weight:</strong>
                <ul>
                    <li>Male lions: 150–250 kg (330–550 lbs)</li>
                    <li>Female lions: 120–180 kg (265–400 lbs)</li>
                </ul>
            </li>
            <li><strong>Age:</strong>
                <ul>
                    <li>In the wild: 10–14 years</li>
                    <li>In captivity: Up to 20–25 years</li>
                </ul>
            </li>
            <li><strong>Height:</strong>
                <ul>
                    <li>At the shoulder: 1.2 meters (4 feet) for males, slightly less for females</li>
                </ul>
            </li>
            <li><strong>Bite Force:</strong>
                <ul>
                    <li>Around 650 psi (pounds per square inch)</li>
                </ul>
            </li>
        </ul>

    </div>

</div>


</body>
</html>