<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/lion.css}">
    <title>Lion</title>
</head>
<body>
<div class="lion-container">
    <div class="item-1">
    <img class="lion-picture1" src="https://img.freepik.com/free-photo/majestic-lion-wild-untamed-staring-with-dangerous-beauty-generated-by-artificial-intelligence_25030-63297.jpg?t=st=1729767854~exp=1729771454~hmac=a2cd4e5c0c80d89dfeeb045575d67fcd23a595472bce70d79ffe7128b0c4186d&w=1380">
    <div class="lion-description">
    <p>A lion is a powerful, majestic big cat known for its muscular build, golden coat, and iconic mane. As apex predators, they live in social groups called prides and are native to the African savannah.</p>
    </div>
    </div>

    <div class="item-2">
        <img class="lion-picture2" src="https://img.freepik.com/free-photo/view-wild-lion-its-natural-habitat_23-2151657565.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
        <ul>
            <li><strong>Weight:</strong>
                <ul>
                    <li>Male lions: 150–250 kg (330–550 lbs)</li>
                    <li>Female lions: 120–180 kg (265–400 lbs)</li>
                </ul>
            </li>
            <li><strong>Age:</strong>
                <ul>
                    <li>In the wild: 10–14 years</li>
                    <li>In captivity: Up to 20–25 years</li>
                </ul>
            </li>
            <li><strong>Height:</strong>
                <ul>
                    <li>At the shoulder: 1.2 meters (4 feet) for males, slightly less for females</li>
                </ul>
            </li>
            <li><strong>Bite Force:</strong>
                <ul>
                    <li>Around 650 psi (pounds per square inch)</li>
                </ul>
            </li>
        </ul>

    </div>
    <a class="return-button" th:href="@{/return}">Return</a>
</div>


</body>
</html>